Here we combine each teammember's data.  We first merge oil production with fossil fuel production.

In [0]:
import pandas as pd
from urllib.request import urlopen

#Hailey's Data
HFDF = pd.read_pickle(urlopen("https://github.com/haileyfagerness/PUBPOL542ProjectData/raw/master/oilData.pkl"),compression=None)

In [0]:
#Brittany's Data
BDDF = pd.read_pickle(urlopen("https://github.com/haileyfagerness/PUBPOL542ProjectData/raw/master/ciaFFv2.pkl"),compression=None)

In [0]:
#Merge Hailey + Brittany Data
HFBD=BDDF.merge(HFDF,how="outer", indicator=True)

In [0]:
HFBD.loc[HFBD['_merge']=='left_only',"Country"].to_list()

['Afghanistan',
 'Algeria',
 'American Samoa',
 'Andorra',
 'Angola',
 'Antigua and Barbuda',
 'Armenia',
 'Aruba',
 'Bahamas, The',
 'Belgium',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Bosnia and Herzegovina',
 'Botswana',
 'British Virgin Islands',
 'Burkina Faso',
 'Burma',
 'Burundi',
 'Cabo Verde',
 'Cambodia',
 'Cayman Islands',
 'Central African Republic',
 'Comoros',
 'Congo, Republic of the',
 'Cook Islands',
 'Costa Rica',
 "Cote d'Ivoire",
 'Cyprus',
 'Czechia',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Falkland Islands (Islas Malvinas)',
 'Faroe Islands',
 'Fiji',
 'Finland',
 'French Polynesia',
 'Gabon',
 'Gambia, The',
 'Gibraltar',
 'Greenland',
 'Grenada',
 'Guam',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hong Kong',
 'Iceland',
 'Iran',
 'Iraq',
 'Ireland',
 'Jamaica',
 'Jordan',
 'Kenya',
 'Kiribati',
 'Korea, North',
 'Korea, South',
 'Kosovo',
 'Kuwait',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Luxembourg',
 'Macau',
 'Madagascar',
 'Malawi',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Mauritius',
 'Micronesia, Federated States of',
 'Moldova',
 'Montenegro',
 'Montserrat',
 'Mozambique',
 'Namibia',
 'Nauru',
 'Nepal',
 'New Caledonia',
 'Nicaragua',
 'Nigeria',
 'Niue',
 'North Macedonia',
 'Panama',
 'Paraguay',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Rwanda',
 'Saint Helena, Ascension, and Tristan da Cunha',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Pierre and Miquelon',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Sudan',
 'Sri Lanka',
 'Sudan',
 'Sweden',
 'Switzerland',
 'Tanzania',
 'Togo',
 'Tonga',
 'Turks and Caicos Islands',
 'Tuvalu',
 'Uganda',
 'United Arab Emirates',
 'Uruguay',
 'Vanuatu',
 'Venezuela',
 'Virgin Islands',
 'West Bank',
 'Western Sahara',
 'Zambia',
 'Zimbabwe']

In [0]:
HFBD.loc[HFBD['_merge']=='right_only',"Country"].to_list()

['Saudi Arabia (OPEC)',
 'Iraq (OPEC)',
 'Iran (OPEC)',
 'United Arab Emirates (OPEC)',
 'Kuwait (OPEC)',
 'Venezuela (OPEC)',
 'Nigeria (OPEC)',
 'Angola (OPEC)',
 'Algeria (OPEC)',
 'Libya (OPEC)',
 'Ecuador (OPEC)',
 'Congo, Republic of the (OPEC)',
 'Sudan and South Sudan',
 'Equatorial Guinea (OPEC)',
 'Gabon (OPEC)',
 'Ivory Coast',
 'Myanmar',
 'Czech Republic']

Next, we create a dictionary of replacement names for the countries that are the same but have different spellings.

In [0]:
replacements={
    'Saudi Arabia (OPEC)':'Saudi Arabia',
    'Iraq (OPEC)':'Iraq',
    'Iran (OPEC)':'Iran',
    'United Arab Emirates (OPEC)':'United Arab Emirates',
    'Kuwait (OPEC)':'Kuwait',
    'Venezuela (OPEC)':'Venezuela',
    'Nigeria (OPEC)':'Nigeria',
    'Angola (OPEC)':'Angola',
    'Algeria (OPEC)':'Algeria',
    'Libya (OPEC)':'Libya',
    'Ecuador (OPEC)':'Ecuador',
    'Congo, Republic of the (OPEC)':'Congo, Republic of the',
    'Sudan and South Sudan':'Sudan',
    'Equatorial Guinea (OPEC)':'Equatorial Guinea',
    'Gabon (OPEC)':'Gabon',
    'Ivory Coast':"Cote d'Ivoire",
    'Myanmar':'Burma',
    'Czech Republic':'Czechia'
}

HFDF.Country.replace(replacements,inplace=True)

In [0]:
HFBD=BDDF.merge(HFDF,how="outer")

For countries that do not produce oil, we replace null values with a 0.  This will be helpful when we run regressions.

In [0]:
replace = 0
HFBD.loc[pd.isnull(HFBD['OilProduction']), 'OilProduction'] = replace
HFBD

            Country  fossilFuel_PctTotalElec  OilProduction
0       Afghanistan                     0.45            0.0
1           Albania                     0.05        22915.0
2           Algeria                     0.96      1348361.0
3    American Samoa                     0.98            0.0
4           Andorra                     0.61            0.0
..              ...                      ...            ...
210       West Bank                     0.78            0.0
211  Western Sahara                     1.00            0.0
212           Yemen                     0.79        22000.0
213          Zambia                     0.05            0.0
214        Zimbabwe                     0.58            0.0

[215 rows x 3 columns]

We now merge populaton and GDP with our working data frame.

In [0]:
# Cecilia + Kathy Data
KCDF = pd.read_pickle(urlopen("https://github.com/haileyfagerness/PUBPOL542ProjectData/raw/master/KC.pkl"),compression=None)

In [0]:
TEAMdata=HFBD.merge(KCDF,how="outer",indicator=True)

In [0]:
TEAMdata.loc[TEAMdata['_merge']=='left_only',"Country"].to_list()

['American Samoa',
 'Andorra',
 'Bermuda',
 'British Virgin Islands',
 'Burma',
 'Cabo Verde',
 'Cayman Islands',
 'Cook Islands',
 "Cote d'Ivoire",
 'Cuba',
 'Czechia',
 'Falkland Islands (Islas Malvinas)',
 'Faroe Islands',
 'French Polynesia',
 'Gibraltar',
 'Greenland',
 'Guam',
 'Korea, North',
 'Kosovo',
 'Montserrat',
 'New Caledonia',
 'Niue',
 'Saint Helena, Ascension, and Tristan da Cunha',
 'Saint Pierre and Miquelon',
 'Sao Tome and Principe',
 'Somalia',
 'Syria',
 'Timor-Leste',
 'Turks and Caicos Islands',
 'Virgin Islands',
 'West Bank',
 'Western Sahara']

In [0]:
TEAMdata.loc[TEAMdata['_merge']=='right_only',"Country"].to_list()

['Myanmar',
 'Czech Republic',
 'East Timor',
 'Cape Verde',
 'São Tomé and Príncipe',
 'San Marino',
 'Palau']

Next, we again create a dictionary of replacement names for the countries that are the same but have different spellings.

In [0]:
replacements2={
    'Myanmar':'Burma',
    'Czech Republic':'Czechia',
    'East Timor':'Timor-Leste',
    'Cape Verde':'Cabo Verde',
    'São Tomé and Príncipe':'Sao Tome and Principe',
}

KCDF.Country.replace(replacements2,inplace=True)

Next, we commit changes to finalize data frame.

In [0]:
finalData=HFBD.merge(KCDF)
finalData

,Country,fossilFuel_PctTotalElec,OilProduction,Population,USDollar
0,Afghanistan,0.45,0.0,38041754,513
1,Albania,0.05,22915.0,2880917,5372
2,Algeria,0.96,1348361.0,43053054,3980
3,Angola,0.34,1769615.0,31825295,3037
4,Antigua and Barbuda,0.97,0.0,97118,18109
...,...,...,...,...,...
183,Venezuela,0.51,2276967.0,28515829,2547
184,Vietnam,0.56,301850.0,96462106,2740
185,Yemen,0.79,22000.0,29161922,943
186,Zambia,0.05,0.0,17861030,1307
187,Zimbabwe,0.58,0.0,14645468,859

In [0]:
finalData.dtypes

Country                     object
fossilFuel_PctTotalElec    float64
OilProduction              float64
Population                   int64
USDollar                     int64
dtype: object

Last, we save data frame to files that are readable by python and R.

In [0]:
finalData.to_pickle("finalData.pkl")

In [0]:
from rpy2.robjects import pandas2ri
pandas2ri.activate()

from rpy2.robjects.packages import importr

base=importr('base')
base.saveRDS(finalData, file="finalData.RDS")

rpy2.rinterface.NULL

Below is our final merged data frame, ready to be analyzed using R.

In [0]:
finalData

,Country,fossilFuel_PctTotalElec,OilProduction,Population,USDollar
0,Afghanistan,0.45,0.0,38041754,513
1,Albania,0.05,22915.0,2880917,5372
2,Algeria,0.96,1348361.0,43053054,3980
3,Angola,0.34,1769615.0,31825295,3037
4,Antigua and Barbuda,0.97,0.0,97118,18109
...,...,...,...,...,...
183,Venezuela,0.51,2276967.0,28515829,2547
184,Vietnam,0.56,301850.0,96462106,2740
185,Yemen,0.79,22000.0,29161922,943
186,Zambia,0.05,0.0,17861030,1307
187,Zimbabwe,0.58,0.0,14645468,859